.light-theme {
  --background-color: #ffffff;
  --text-color: #000000;
  --primary-color: #00d0ff;
  --accent-color: #00154e;
  --warn-color: #ff1f1f;
}

.dark-theme {
  --background-color: #112950;
  --text-color: #000000;
  --primary-color: #01bfea;
  --accent-color: #b3b9ca;
  --warn-color: #cc1919;
}

/* Global Colors */
$liner-gradient-teal: rgb(255, 72, 173);
$liner-gradinet-purple: rgb(140, 0, 215);
$theme-white: #ffffff;
$theme-light: #f8f8f8;
$theme-dark: #112950;
$theme-dark-80: #6680ac;
$primary-main: #00d0ff;
$primary-lighter: #b3f1ff;
$primary-darker: #01bfea;
$primary-99: #b3f1ff;
$secondary-main: #ffffff;
$accent-main: #00154e;
$accent-lighter: #b3b9ca;
$accent-darker: #000c35;
$warn-main: #ff1f1f;
$warn-lighter: #ffbcbc;
$warn-darker: #cc1919;

$dark-text: #393939;
$dark-primary-text: rgba($dark-text, 0.87);
$dark-accent-text: rgba($dark-primary-text, 0.54);
$dark-disabled-text: rgba($dark-primary-text, 0.38);
$dark-dividers: rgba($dark-primary-text, 0.12);
$dark-focused: rgba($dark-primary-text, 0.12);

/* Colors Variations for UI-KIT */

$ui-colors: (
  'light-paragraf': '#052c65',
  'dark-paragraf': '#fafafa',
  'primary': #344054,
  'secondary': #474747,
  'accent': #344054,
  'accent-light': #a6b0e9,
  'primary-text': #fff,
  'secondary-text': #fff,
  'accent-text': #fff,
  'accent-light-text': #fff,
  'white': #fff,
  'black': #000,
);

$colors: (
  'primary-button': #344054,
  'advance-primary': #556180,
  'nav-blue': #052c65,
  'gray900': #333333,
  'gray800': #4d4d4d,
  'gray700': #666666,
  'gray600': #808080,
  'gray500': #999999,
  'gray400': #b2b2b2,
  'gray300': #e6e6e6,
  'gray200': #f5f5f5,
  'gray100': #fafafa,
  'orange900': #996008,
  'orange800': #c47f14,
  'orange700': #cc881f,
  'orange600': #d9952b,
  'orange500': #df9c33,
  'orange400': #f1c760,
  'orange300': #f2ba61,
  'orange200': #ffe299,
  'orange100': #fff0cc,
  'darkblue900': #131926,
  'darkblue800': #091327,
  'darkblue700': #192640,
  'darkblue600': #26334d,
  'darkblue500': #3d4b66,
  'darkblue400': #4c5e80,
  'darkblue300': #5a6780,
  'darkblue200': #6c7b99,
  'darkblue100': #828a99,
  'red600': #dc2626,
  'red500': #ef4444,
  'red400': #f87171,
  'red300': #fca5a5,
  'green600': #16a34a,
  'green500': #22c55e,
  'green400': #4ade80,
  'green300': #86efac,
);
