@use 'themes';

html,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: 0px;
}

body {
  height: 100%;
}
body {
  background-color: white;
  transition: background-color 0.8s ease;
}

body.dark-background {
  background-color: black !important;
  //background: radial-gradient(#e6646460, #121212);
  background: radial-gradient(#e6646431, #121212);
}
