/* Import Theme */
@import 'styles/themes';

html,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: 0px;
}

body {
  height: 100%;

  @extend .dark-theme;
}
body {
  background-color: white;
  transition: background-color 0.8s ease;
}

body.dark-background {
  background-color: black;
}
